#map {
    height: 100%;
    width: 100%;
    min-height: 300px;
    min-width: 511px;
}

:host {
    display: block;
    height: 100%;
    width: 100%;
}

.leaflet-marker-icon {
    border: none !important;
    background: none !important;
}

@media (max-width: 767px) {
    #map {
        min-height: fit-content;
        min-width: fit-content;
    }
}