.sidebar {
  background: var(--BackgroundLightBlue);
  padding: 20px;
  width: 330px;
  max-width: 100%;
  max-height: -webkit-fill-available;
  overflow: hidden;
  box-sizing: border-box;
}

.sidebar.dark-mode {
  background: var(--DarkMode);
  color: var(--White);
}

.sidebar.dark-mode h2 {
  color: var(--Primary);
}

.sidebar.dark-mode input,
.sidebar.dark-mode .individual {
  background-color: var(--DarkMode);
  border: 1px solid var(--DarkModeOutLine);
}


.sidebar button {
  background: var(--Primary);
  color: var(--White);
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sidebar input {
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.sidebar input::placeholder {
  color: var(--HoverFont);
}
.sidebar.dark-mode input::placeholder {
  color: var(--DarkModeFontLight);
}
.sidebar input:hover,
.sidebar input:active,
.sidebar input:focus {
  outline: none;
}

.individual-list-wrapper h2 {
  color: var(--Font);
  margin-top: 0;
}

.individual-list {
  height: 448px;
  overflow-y: auto;
}

.individual-list::-webkit-scrollbar {
  width: 5px;
}

.individual-list::-webkit-scrollbar-track {
  background: transparent;
}

.individual-list::-webkit-scrollbar-thumb {
  background-color: #c5c3c3;
  border-radius: 6px;
}

.individual-list::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0;
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.individual {
  padding: 10px;
  background-color: var(--White);
  border-radius: 5px;
  border-left: 5px solid var(--Safe) !important;
  margin-bottom: 10px;
  max-width: 95%;
}

.individual:hover {
  background: var(--BackgroundLight);
  cursor: pointer;
}

.individual.alert {
  border-left: 5px solid var(--AlertPin) !important;
}

.individual p:not(:last-of-type) {
  margin-bottom: 0;
}

.individual p:not(:first-of-type) {
  margin-top: 5px;
}

@media (max-width: 767px) {
  .sidebar {
    width: 100%;
    height: 550px;
  }

  .individual-list {
    height: 370px;
  }
}

.sidebar.dark-mode .individual-list h3 {
  color: var(--DarkModeFont);
  margin: 0;
}

.sidebar.dark-mode .individual-list p{
  color: var(--DarkModeFont);
}